body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#display{
    margin: 10px auto;
    font-size: 72px;
}

.buttons{
    text-align: center;
}

button:hover{
    cursor: pointer;
}

button{
    width: 10vw;
    margin: auto 5px;
}

