@font-face {
  font-family: ModeratJIT-Regular;
  src: url(fonts/ModeratJIT-Regular.ttf);
}

body {
  font-family: ModeratJIT-Regular;
  margin: 0;
}

.cursive {
  font-family: cursive;
}

/* header */

header {
  padding: 30px;
  text-align: center;
  background: #F9D267;
  color: white;
}

/* navigation */

nav {
  display: flex;
  background: #333;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

/* row */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/* side content */

.row .side {
  display: flex;
  justify-content: center;
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}

.row .side div {
  align-self: auto;
  justify-content: center;
}

.row .side img {
  border: 1px solid #333;
}

/* main content */

.row .main {
  flex: 70%;
  background-color: white;
  padding:20px 20px 0px 20px;
}

.row .main img {
  border: 3px dotted black;
}

/* postcards list */

.postcard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px; /* 5px rounded corners */
  display: flex;
  padding: 1em;
  justify-content: space-between;
  background:  rgba(249, 210, 103, 0.1);
  margin-bottom: 20px;
}

.postcard .left-column {
  font-size: 20px;
  font-family: cursive;
}

.postcard .right-column {
  text-align: right;
}

.postcard > div {
  padding: 20px;
}

/* sharing form */

.sharing-form {
  padding: 20px 0px 40px 0px;
  font-size: 1.5em;
}

textarea {
  width: 100%;
  resize: none;
  height: 150px;
  border: 1px solid #F9D267;
  font-size: 16px;
  padding: 12px 20px;
  box-sizing: border-box;
}

label {
  line-height: 2em;
}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #F9D267;
  width: 100%;
  font-size: 16px;
}

input[type=button], input[type=submit], input[type=reset]{
  background-color: #F9D267;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 2em 2px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

/* footer */

footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* media queries */

@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}
